[package]

name = "maxminddb"
version = "0.5.1"
description = "Library for reading MaxMind DB format used by GeoIP2"
documentation = "http://oschwald.github.io/maxminddb-rust/maxminddb/struct.Reader.html"
readme = "README.md"
keywords = ["MaxMind", "GeoIP2", "GeoIP", "geolocation", "ip"]
authors = [ "Gregory J. Oschwald <oschwald@gmail.com>" ]
homepage = "https://github.com/oschwald/maxminddb-rust"
repository = "https://github.com/oschwald/maxminddb-rust"
license = "Apache-2.0"

[lib]

name ="maxminddb"
crate_type = ["lib", "dylib", "staticlib"]
path = "src/maxminddb/lib.rs"

[dependencies]

log = "0.3.1"
rustc-serialize = "0.3.14"
