name: Deploy Docs to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  release:
    name: GitHub Pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Build Documentation
        run: cargo doc --all --no-deps

      - name: Create index
        run: echo '<meta http-equiv=refresh content=0;url=maxminddb/index.html>' > target/doc/index.html

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
